{% extends "base.html" %}
{% block  content %}

<pre>
    <code class=' align-numbers language-python'>
        util: {
			encode: function encode(tokens) {
				if (tokens instanceof Token) {
					return new Token(tokens.type, encode(tokens.content), tokens.alias);
				} else if (Array.isArray(tokens)) {
					return tokens.map(encode);
				} else {
					return tokens.replace(/&/g, '&').replace(/
    </code>
    </pre>
    <h1 class="dodo"> kjfghdj</h1>
    
    if name=="johnson":
        print("you are the one")
{% endblock  %}
